@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing:  border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #081b29); 
    --pages-color: linear-gradient(90deg, #ffffff, #e6f1ff);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0b455c;
    color: var(--text-color);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: showAnimate 2s forwards;
}

@keyframes showAnimate {
    0%,30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover-left {
    z-index: -1;
}

.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.cover-left , .cover-right { 
    background-image: url(images/cover.png);
    background-size: cover;
    background-position: center;
}

.turn {
    transform: rotateY(180deg); 
}



.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
}

page-left {
    box-shadow: -.6rem .6rem .6rem rgba(0, 0,0, 0.1);
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    max-width: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
 }

.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.social-media {
    margin: .6rem 0 .8rem;
}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: background-color .4s;
}

.social-media a:hover {
    color : var(--white-color);
    background-color: var(--main-color);
}

.profile-page p {
    text-align: justify;
}

.btn-box {
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    border: var(--border);
    height: 3rem;
    background: var(--main-color);
    border-radius: .3rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: background .4s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.contact-me {
    background: transparent;
    color: var(--main-color);
}

.contact-me:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}


.page-right.turn {
    transform: rotateY(-180deg);
}

.page-front, .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    color: var(--text-color);
    padding: 1.5rem 2rem;
}

.page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.year {
    color: var(--main-color)
}

.year i {
    margin-right: .4rem;
}

.workedu-box {
    border-left: var(--border)
}

.workedu-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.workedu-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.number-page{
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    transition: .5s;
}

.nextprev-btn:hover {
    color:var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services-content {
    flex: 1 1 10rem;
    /* border: var(--border); */
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: box-shadow .4s ease;
}

.services-content:hover{
    box-shadow: var(--box-shadow);
}

.services-content i {
    font-size: 2.5rem;
    color: var(--main-color);

}

.services-content h3 {
    font-size: 1.1rem;
}

.services-content p {
    margin: .2rem 0 .8rem;
}

.services-content .btn  {
    width: 6rem;
    height: 2rem;
    font-size: .8rem;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-content {
    flex: 1 1 20rem;
}

.services-content h3 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: .6rem;
}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 170px;
    perspective: 1000px;
    display: inline-flex;  
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: white;
    color: var(--text-color);
  }
  
  .flip-card-back {
    background: var(--main-color);
    color: white;
    padding: 10px;
    transform: rotateY(180deg);
    font-size: .9rem;
  }

.content {
    display: flex;
    flex-wrap: wrap; 
    gap: .8rem;
}

.content span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.content span:hover{
    box-shadow: var(--box-shadow);
}

.content span i {
    font-size: 3rem;
    color: var(--main-color);
}

.img-box {
    display: flex;
    width: 100%;
    height: 15rem;
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.info-box {
    margin: 1rem 0 1.5rem;
}

.info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.info-title h3 {
    font-size: 1.3rem;
}

.info-title a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.info-title a i {
    margin-left: .3rem;
}

.info-box p:nth-of-type(1) {
    font-weight: 600;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.portfolio-box .btn-box .btn {
    margin: 0 1.5rem;
} 


.field {
    width: 100%;
    background: #3683a7;
    border: none;
    border-radius: .3rem;
    padding: .8rem;
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .1s ease-in-out;
}

.field:focus {
    border-left: 5px solid #f7a559;
}

.field::placeholder {
    color: var(--white-color);
}

.contact-box{
   text-align: center;
   color: var(--white-color);
   max-width: 700px;
   background-color: #036c9c;
   padding: 30px;
   border-left: 5px solid #f7a559;
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.contact-box textarea {
    resize: none;
    height: 10rem;
}

.contact-box .btn {
    cursor: pointer;
    background: #f7a559;
    width: 100%;
    margin: auto;
    
}
.contact-box .btn:hover {
    color: #f7a559;
    border: 1px solid #f7a559;
    background: transparent;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    opacity: 0;
    transition: .5s ;
    color: var(--main-color);
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%);
    top: -1.8rem;
}




